.root{
    -fx-background-color: #000033;
    
}
.btn_save{
  -fx-background-color: #8080ff;
  -fx-background-radius: 20px;
  -fx-text-fill:   #000080;
}
.btn_save:hover{
    -fx-background-color: #b3e0ff;
}

